{#
 # News entry template
 # -------------------
 #
 # This template gets loaded whenever a News entry’s URL is
 # requested. That’s because the News section’s Template setting is
 # set to “news/_entry”, the path to this template.
 #
 # When this template is loaded, it will already have an ‘entry’
 # variable, set to the requested News entry.
 #
 # See this page for more details on how Craft routes requests:
 # http://craftcms.com/docs/routing
 #}

{% extends "_layout" %}

{% block content %}
	<article>
		<h1>{{ entry.title }}</h1>
		{{ entry.servicesummary }}
		<img src="{{ entry.serviceimage.first().getUrl("servicepage") }}">
		
		{{ entry.body }}
		
		{% set id = entry.serviceVideo|replace('/(http:|https:|)\\/\\/(player.|www.)?(youtu(be\\.com|\\.be|be\\.googleapis\\.com))\\/(video\\/|embed\\/|watch\\?v=|v\\/)?([A-Za-z0-9._%-]*)(\\&\\S+)?/', '$6') %}

	{% set service = entry.serviceVideo|lower|replace('/(http:|https:|)\\/\\/(player.|www.)?(youtu(be\\.com|\\.be|be\\.googleapis\\.com))\\/(video\\/|embed\\/|watch\\?v=|v\\/)?([A-Za-z0-9._%-]*)(\\&\\S+)?/', '$3') %}


	<iframe src="http://www.youtube.com/embed/{{id}}?autoplay=0" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>


		
		{% set params = {section: 'services', order: 'postDate desc', limit: null} %}
	{% set entry_prev = entry.getPrev(params) %}
	{% set entry_next = entry.getNext(params) %}		
	{% if entry_prev %}<li class="prev"><a title="{{ entry_prev.title }}" href="{{entry_prev.url}}">Previous Post</a></li>{% endif %}
	{% if entry_next %}<li class="next"><a title="{{ entry_next.title }}" href="{{entry_next.url}}">Next Post</a></li>{% endif %}
	</article>
{% endblock %}
